* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    width: 80%;
    margin: 0 auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    gap: 30px;
    padding: 100px;


}

.headline-col {
    justify-self: center;
    width: 100%;
    text-align: center;
}

.col {
    border: 1px solid #c9c9c9;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    width: calc(100% / 4)
}

.row * {
    max-width: 100%;
    ;
}

.product-detail {
    padding: 10px;
}

.price {
    color: red;
    font-weight: 800;
}

.top-header {
    background-color: black;
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.navbar {
    font-family: Roboto;
    font-size: 16px;
    color: white;
}

.header-menu {
    display: flex;
    gap: 10px;
}

.logo {
    width: 150px;
    display: block;
}

h1,
h2 {
    font-family: Roboto;
    font-weight: 800;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;

}