* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}

.container {
    padding: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    border: 1px solid #c9c9c9;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    width: calc(80% / 3);
    margin-bottom: 30px;
    ;
}

.row * {
    max-width: 100%;
}

.product-detail {
    padding: 10px;
}

.price {
    color: red;
    font-weight: 800;
}